<div id="header">

    <div class="brand">
        <img [src]="logoUrl" alt="" width="60px">

        <span class="text-2xl">BrainBox</span>
    </div>

    <nav class="navigation">
        <ul class="text-base">
            <li>Home</li>
            <li>Events</li>
            <li>Connect</li>
        </ul>
    </nav>

    <div class="actions flex gap-4">
        <!-- Theme Switchers -->
        <mat-icon [ngClass]="isDarkMode ? 'hide' : 'show'" (click)="changeTheme()">brightness_2</mat-icon>
        <mat-icon [ngClass]="isDarkMode ? 'show' : 'hide'" (click)="changeTheme()">brightness_5</mat-icon>
        <mat-icon>view_headline</mat-icon>
    </div>

</div>